body {
  color: #222;
  letter-spacing: 1px;
}

section h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  color: #888;
  margin-top: 0;
  margin-bottom: 35px;
}

section h4 {
  color: #555;
  letter-spacing: 3px;
}

.main_color_bg {
  background-color: #222;
}

.social_wrapp ul li a {
  color: #2EA2CC;
}

.bg_light {
  background-color: #FAFAFA;
}

.bg_dark {
  background-color: #222;
  color: #fff;
}

.bg_dark .s_descr::after {
  background-color: #fff;
}

.bg_dark a {
  color: #fff;
}

a {
  color: #2EA2CC;
}

p,
.main_footer,
.s_about .section_content li {
  color: #888;
}

.color_element {
  color: #2EA2CC;
}

.color_bg {
  background-color: #2EA2CC;
}

.color_border {
  border-color: #2EA2CC;
}

.toggle_mnu {
  background-color: #222;
}

.top_mnu a:hover {
  color: #2EA2CC;
  background-color: rgba(255, 255, 255, 0.05);
}

.top_mnu a {
  letter-spacing: 4px;
}

.top_text p {
  color: #FAFAFA;
  letter-spacing: 5px;
}

.s_descr {
  letter-spacing: 5px;
}

.s_descr::after {
  background-color: #222;
}

.main_footer {
  letter-spacing: 0px;
}

.s_about p:nth-child(even) {
  color: #2EA2CC;
}

.resume_container h3 {
  color: #222;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
}

.resume_icon {
  font-size: 40px;
  margin-bottom: 35px;
}

.resume_container .resume_item .year {
  background-color: #2EA2CC;
}

.s_portfolio li {
  letter-spacing: 2px;
  color: #888;
}

.s_portfolio li.active {
  color: #fff;
  border-bottom: 1px solid #2EA2CC;
}

#portfolio_grid .portfolio_item .port_item_cont a {
  border-color: #2EA2CC;
  color: #2EA2CC;
}

.s_contacts .contact_box i {
  color: #2EA2CC;
}

.text-danger {
  color: #2EA2CC;
}

form input:focus,
form textarea:focus {
  border: 1px solid #2EA2CC !important;
}

form button {
  background-color: #2EA2CC;
  letter-spacing: 2px;
}

form .form-group {
  letter-spacing: 2px;
  color: #888;
}

form .text-danger {
  color: #2EA2CC;
}
